<div class="login-form">
  <h3>Login Here</h3>
  {{#each messages}}
    <p class="error">{{this}}</p>
  {{/each}}
  <form action="/users/login" method="post">

    <div class="input">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
    </div>
    <div class="input">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
    </div>
    <div>
      <input type="submit" value="Login" />

      <a href="/users/register">Not registered</a>
    </div>

  </form>
</div>